.s_filter-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: relative;
    width: 15vw;
    height: 1.8vw;
    z-index: 9994;

    input {
        width: 100%;
        height: 100%;
        border: none;
        padding-left: 2.5vw;
        border-radius: 2vw;
        background-color: var(--cor-min_grey);
        box-shadow: 0 1px 0.1px 0px var(--cor-shadow-mid);
        outline: none;
        user-select: none;
        font-size: 1vw;
    }

    .filterIcon{
        position: absolute;
        width: 15%;
        height: 80%;
        border-radius: 50vw;
        border: none;
        background-color: transparent;
        left: 5%;
        top: 20%;
        font-size: 0.8vw;
    }

    

    .counter-filter {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        width: 1.1vw;
        height: 1.1vw;
        border-radius: 50vw;
        border: none;
        background-color: transparent;
        right: 110%;
        top: 5%;
        z-index: 999;
        font-size: 0.8vw;
        background-color: var(--cor-rose);
        color: var(--cor-light);
    }

    button {
        position: absolute;
        width: 10%;
        height: 80%;
        border-radius: 50vw;
        border: none;
        background-color: transparent;
        right: 0.4vw;
        i {
            position: absolute;
            width: 100%;
            cursor: pointer;
            height: 80%;
            border-radius: 50vw;
            border: none;
            left: 0vw;
            top: 15%;
            font-size: 1vw;
        }
    }
}

.filtersClosed {
    display: flex;
    flex-direction: column;
    min-width: 0vw;
    max-width: 0vw;
    min-height: 0vh;
    max-height: 0vh;
    top: 2.3vw;
    overflow-y: hidden;
    position: absolute;
    transition: 0.5s;
    opacity: 0%;
    

    .span-container {
        text-align: start;
        padding: 0.5vw;
        cursor: pointer;
        font-size: 0.1vw;
        opacity: 0%;
    }

    .filter-option {
        padding-left: 0.5vw;
        label {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: row;
            font-size: 0.1vw;
            opacity: 0%;
            
            input {
                width: 10%;
                height: 10%;
                left: 0;
                appearance: none;
                position: absolute;
                background-color: transparent;
                
                opacity: 0%;
            }

            .custom-checkbox {
                display: inline-block;
                width: 0.8vw;
                height: 0.8vw;
                border-radius: 1vw;
                background-color: var(--cor-min_grey);
                position: relative;
                opacity: 0%;
            }

            .custom-checkbox::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;

                border-radius: 1vw;
                background-color: var(--cor-rose);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                /* Esconder quando não está marcado */
                transition: opacity 0.3s;
            }             
        }
    }
    
}

.s_filter-container .filters {
    
    display: flex;
    flex-direction: column;
    min-width: 15vw;
    max-width: 18vw;
    min-height: 3vh;
    max-height: 30vh;
    top: 2.3vw;
    border-radius: 7px;
    position: absolute;
    transition: 0.5s;
    overflow-y: auto;
    overflow-x: hidden ;
    gap: 0.2vw;
    background-color: var(--cor-min_grey);
    box-shadow: 0px 0px 8px rgb(144, 143, 143);
    

    .span-container {
        
        text-align: start;
        padding: 0.3vw;
        width: 80%;
        cursor: pointer;
        text-wrap: nowrap;
        font-size: 1vw;
        }
    }

    .filter-option {
        padding-left: 0.5vw;
        label {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: row;
            font-size: 1vw;
            
            input {
                width: 10%;
                height: 10%;
                left: 0;
                appearance: none;
                position: absolute;
                background-color: transparent;
            }

            .custom-checkbox {
                display: inline-block;
                width: 0.8vw;
                height: 0.8vw;
                border-radius: 1vw;
                background-color: var(--cor-min_grey);
                position: relative;
            }

            .custom-checkbox::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;

                border-radius: 1vw;
                background-color: var(--cor-rose);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                /* Esconder quando não está marcado */
                transition: opacity 0.3s;
            }

            input[type="checkbox"]:checked+.custom-checkbox::after {
                opacity: 1;
                /* Mostrar quando está marcado */
            }

            

            
        }
    }

    .filter-option:hover{
        .custom-checkbox{
            background-color: var(--cor-rose);
        }
    }

    .filter-all {
        padding-left: 0.5vw;
        background-color: var(--cor-rose);
        color: var(--cor-light);
        label {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: row;
            font-size: 1vw;
            
            input {
                width: 10%;
                height: 10%;
                left: 0;
                appearance: none;
                position: absolute;
                background-color: transparent;
            }

            .custom-checkbox {
                display: inline-block;
                width: 0.8vw;
                height: 0.8vw;
                border-radius: 1vw;
                background-color: var(--cor-shadow-mid);
                position: relative;
            }

            .custom-checkbox::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;

                border-radius: 1vw;
                background-color: var(--cor-light);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                /* Esconder quando não está marcado */
                transition: opacity 0.3s;
            }

            input[type="checkbox"]:checked+.custom-checkbox::after {
                opacity: 1;
                /* Mostrar quando está marcado */
            }

            

            
        }
    }

    .filter-all:hover{
        .custom-checkbox{
            background-color: var(--cor-light);
        }
    }


.s_filter-container .filters::-webkit-scrollbar {
    width: 1.1vw;
    /* Largura da scrollbar */
    border-top-right-radius: 7px;

}

.s_filter-container .filters::-webkit-scrollbar-track {
    background: var(--cor-min_grey);
    /* Cor de fundo da track */
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.s_filter-container .filters::-webkit-scrollbar-thumb {
    background-color: var(--cor-rose);
    /* Cor do thumb */
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* Opções adicionais para hover */
.s_filter-container .filters::-webkit-scrollbar-thumb:hover {
    background-color: var(--cor-rose);
    /* Cor do thumb ao passar o mouse */
}