@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container_map {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.LayerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 85%;
}

.container_map .leaflet-container {
    width: 100%;
    height: 100%;
    background-color: rgb(237, 237, 237);
    border: 1px solid black;
    border-radius: 1vw;
    z-index: 999;
}

/* Estilizando o botão de zoom mais */
.leaflet-control-zoom-in {
    display: none;
}

/* Estilizando o botão de zoom menos */
.leaflet-control-zoom-out {
    z-index: 1;
}

.leaflet-control-attribution {
    opacity: 35%;
}



.container_map .container_legenda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8%;
    background-color: var(--cor-min_grey);
    width: 100%;
    margin-top: 0.5vh;
    border-radius: 1vw;
    gap: 3vw;

    .item_legenda {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5vw;

        .red,
        .yellow,
        .green {
            width: 25px;
            height: 25px;
        }

        span {
            font-size: 15px;
        }
    }

}