.container_relatorios{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 3vw;
    align-items: center;
    width: 100%;
    height: 100%;

    .page-title{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0.5vw;
        h2{
            font-size: 2vw;
        }
        span{
            font-size: 2vw;
            color: var(--cor-rose);
        }
    }
}

.container_relatorios .container_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2vw;
    padding: 5vw;
    width: 50%;
    gap: 2vw;
}