{
  "ESTADO": {
    "MUNICIPIO": {
      "IBGE": "0000000",
      "IVS": "3",
      "POP_IBGE": POPULAÇÃO SEGUNDO O IBGE,
      "PORT_IBGE": EX: "3 - Acima de 50mil até 100mil hab.",
      "IED": EX: "3",
      "CREDENCIAIS": {
        "user": "name",
        "password": "pwd"
      },
      "DBNAME": "NAME"
    }
    ,
    "MUNICIPIO2": {
      "IBGE": "0000000",
      "POP_IBGE": POPULAÇÃO SEGUNDO O IBGE,
      "PORT_IBGE": EX: "3 - Acima de 50mil até 100mil hab.",
      "IED": EX: "3",
      "CREDENCIAIS": {
        "user": "name",
        "password": "pwd"
      },
      "DBNAME": "NAME"
    }
  }
  ,
  "ESTADO2": {
    "MUNICIPIO": {
      "IBGE": "0000000",
      "POP_IBGE": POPULAÇÃO SEGUNDO O IBGE,
      "PORT_IBGE": EX: "3 - Acima de 50mil até 100mil hab.",
      "IED": EX: "3",
      "CREDENCIAIS": {
        "user": "name",
        "password": "pwd"
      },
      "DBNAME": "NAME"
    }
    ,
    "MUNICIPIO2": {
      "IBGE": "0000000",
      "POP_IBGE": POPULAÇÃO SEGUNDO O IBGE,
      "PORT_IBGE": EX: "3 - Acima de 50mil até 100mil hab.",
      "IED": EX: "3",
      "CREDENCIAIS": {
        "user": "name",
        "password": "pwd"
      },
      "DBNAME": "NAME"
    }
  }
}
    