{
  "ESTADO": {
    "MUNICIPIO": {
      "IBGE": "0000000",
      "POP_IBGE": POPULAÇÃO SEGUNDO O IBGE,
      "PORT_IBGE": EX: "3 - Acima de 50mil até 100mil hab.",
      "IED": EX: "3",
      "CREDENCIAIS": {
        "bd_name": "name",
        "bd_user": "user",
        "bd_port": "port",
        "bd_pwd": "pwd",
        "user": "user",
        "password": "pwd"
      },
      "IPS": {
        "INSTALACAO": "IP"
      }
    }
    ,
    "MUNICIPIO2": {
      "IBGE": "0000000",
      "POP_IBGE": POPULAÇÃO SEGUNDO O IBGE,
      "PORT_IBGE": EX: "3 - Acima de 50mil até 100mil hab.",
      "IED": EX: "3",
      "CREDENCIAIS": {
        "bd_name": "name",
        "bd_user": "user",
        "bd_port": "port",
        "bd_pwd": "pwd",
        "user": "user",
        "password": "pwd"
      },
      "IPS": {
        "INSTALACAO": "IP"
      }
    }
  }
  ,
  "ESTADO2": {
    "MUNICIPIO": {
      "IBGE": "0000000",
      "POP_IBGE": POPULAÇÃO SEGUNDO O IBGE,
      "PORT_IBGE": EX: "3 - Acima de 50mil até 100mil hab.",
      "IED": EX: "3",
      "CREDENCIAIS": {
        "bd_name": "name",
        "bd_user": "user",
        "bd_port": "port",
        "bd_pwd": "pwd",
        "user": "user",
        "password": "pwd"
      },
      "IPS": {
        "INSTALACAO": "IP"
      }
    }
    ,
    "MUNICIPIO2": {
      "IBGE": "0000000",
      "POP_IBGE": POPULAÇÃO SEGUNDO O IBGE,
      "PORT_IBGE": EX: "3 - Acima de 50mil até 100mil hab.",
      "IED": EX: "3",
      "CREDENCIAIS": {
        "bd_name": "name",
        "bd_user": "user",
        "bd_port": "port",
        "bd_pwd": "pwd",
        "user": "user",
        "password": "pwd"
      },
      "IPS": {
        "INSTALACAO": "IP"
      }
    }
  }
}
    