.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 12vw;
    height: 5vw;
    border-radius: 1vw;
    background-color: var(--cor-min_grey);
    box-shadow: 0px 0.3vw 0.1vw 0px var(--cor-shadow-mid);
    transition: 0.5s;

    button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: 35px;
        border: none;
        cursor: pointer;
        z-index: 999;
    }

    .icon_card{
        display: flex;
        position: absolute;
        left: 1vw;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
        i{
            color: var(--cor-rose);
        }
    }
        
    .title_card{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100%;
        margin-left: 4vw;
        width: 60%;
        
        span{
            display: flex;
            justify-content: start;
            align-items: center;
            text-align: start;
            text-wrap: wrap;
            width: 100%;
            height: 100%; 
            font-size: 0.8vw;
        }
    }
}

.card:hover{
    box-shadow: 0px 0px 0.0vw 0.1vw rgb(220, 167, 167);
    width: 13vw;
}

.card:active{
    background-color: #d5d4d4;
    box-shadow: 0px 0px 0.0vw 0.2vw rgb(220, 167, 167);
    width: 12vw;
}

