.table-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 95%;
    padding: 2vw 0;
    
}

.DataGridHeader{
    background-color: rgb(241, 241, 241);
}

.DataGridContainer{
    background-color: var(--cor-light);
    width:100%;
}

.table_view {
    width: 100%;
}

.buttonbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 35px;
    background-color: #4e7950;
    }

    .export:hover {
        background-color: #68a96a;
    }

    .export:active {
        background-color: #4e7950;
    }
