.table-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 95%;
    max-height: 80vh;
    
}

.buttonbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 35px;
    background-color: #4e7950;
    }

    .export:hover {
        background-color: #68a96a;
    }

    .export:active {
        background-color: #4e7950;
    }
