.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
    width: 95%;
    height: 95%;
    border-radius: 0.5vw;
    
}

.test{
    background-color: var(--cor-light);
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: transparent;
    width: 100%;
    height: 6%;

    .buttonbar {

        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        .export {
            height: 100%;
            width: 100%;
            font-size: 0.7vw;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            transition: 0.1s;
            font-weight: bold;
        }

        .export:hover {
            background-color: #45a049;
        }

        .export:active {
            font-size: 0.6vw;
            background-color: #45a049;
        }
    }

}

.table_view {
    height: 94%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(186, 180, 192);
    
    table{
        max-height: 1vw;
        
    }

    td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 0;
        height: 1.7vw;
        font-size: 0.8vw;
        user-select: text;
        background-color: #ffffff;
    }

    th {
        background-color: #f2f2f2;
        color: #333333;
        min-width: 15vw;
        border: 0;
        height: 1.8vw;
        /* Ajuste a altura do cabeçalho aqui */
        padding: 0;
        /* Ajuste o padding do cabeçalho aqui */
        font-size: 0.8vw;
        /* Ajuste o tamanho da fonte do cabeçalho aqui */
    }

    td:hover {
        background-color: #f1f1f1;
    }

}