.container_map{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 2vw;
    width: 100%;
    height: 100%;
    gap: 0.5vw;

    .page-title{
        display: flex;
        justify-content: center;
        align-items: center; 
        position: relative;
        width: 100%;
        height: 7%;
        text-align: center;
        text-wrap: nowrap;
        background-color: rgba(245, 245, 245, 0.452);
        gap: 0.8vw;

        .back_button_container{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0px;
            justify-content: center;
            height: 100%;
            width: 7%;
            
            
            .back_button{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                font-size: 2.1vw;
                width: 40%;
                height: 70%;
                color: var(--cor-rose);
    
                i{
                    position: absolute;
                }
    
                button{
                    width:100%;
                    height: 100%;
                    position: absolute;
                    z-index: 100%;
                    cursor: pointer;
                    background-color: transparent;
                    border-radius: 100%;
                    z-index: 999;
                    border: none;
                }
            }
        }

        h2{
            font-size: 2vw;
            color: var(--cor-black);
        }
        span{
            font-size: 2vw;
            color: var(--cor-rose);
        }
    }
}

.container_filters{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 6%;
    gap: 2vw;

    .subcontainer_filters{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-wrap: nowrap;
        position: absolute;
        left: 10vw;
        gap: 1.5vw;

        .municipio_filter{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            
        }
    }
    
}

.LayerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 76vw;
    height: 75vh;
    background-color: transparent;
}

.container_map .leaflet-container {
    width: 76vw;
    height: 70vh;
    background-color: rgb(237, 237, 237);
    border: 1px solid black;
    border-radius: 1vw;
    z-index: 999;
  }

  /* Estilizando o botão de zoom mais */
.leaflet-control-zoom-in {
    display: none;
}

/* Estilizando o botão de zoom menos */
.leaflet-control-zoom-out {
    z-index: 1;
}



.container_map .container_legenda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: var(--cor-min_grey);
    width: 100%;
    margin-top: 0.5vh;
    border-radius: 1vw;
    gap: 3vw;

    .item_legenda{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5vw;
        
        .red,
        .yellow,
        .green{
            width: 1.2vw;
            height: 1.3vw;
        }

        span{
            font-size: 1.3vw;
        }
    }
    
}