:root{
    --cor-light: #fff;
    --cor-rose: #725fc5;
    --cor-rose-mid: #4f497c;
    --cor-rose-light: #bfb3db;
    --cor-white-background: rgb(248, 248, 248);
    --cor-shadow-min: rgb(217, 217, 217);
    --cor-shadow-mid: rgb(198, 186, 186);
    --cor-min_grey: rgb(242, 242, 242);
    --cor_black: #000;
    --toastify-icon-color-error: var(--cor-rose);
}