:root{
    --cor-light: #fff;
    --cor-rose: #e96969;
    --cor-rose-mid: #975e5e;
    --cor-rose-light: #d3a9a9;
    --cor-white-backgroud: rgb(248, 248, 248);
    --cor-shadow-min: rgb(217, 217, 217);
    --cor-shadow-mid: rgb(198, 186, 186);
    --cor-min_grey: rgb(242, 242, 242);
    --cor_black: #000;
    --toastify-icon-color-error: var(--cor-rose);
}