.container_top .left_container_top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    @media (max-width:760px) {
        width: 100%;
   }
  
}

.container_top .left_container_top .title_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    gap: 5px;
    h1{
        font-size: 25px;
        color: var(--cor-black);
    }

    span{
        font-size: 25px;
        color: var(--cor-rose);
    }

    @media (max-width:760px) {
        gap: 1vw;
        h1{
            font-size: 25px;
            color: var(--cor-black);
        }
    
        span{
            font-size: 25px;
            color: var(--cor-rose);
        }
   }
}



.container_top .mid_container_top{
    display: flex;
    width: 50%;
    height: 100%;
    @media (max-width:760px) {
         display: none;
    }
}

.container_top .right_container_top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 25%;
    height: 100%;

    img{
        width: 100px;

    }

    @media (max-width:760px) {
        display: none;
   }
}

.container_top .right_container_top .submenu_top{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-right: 5%;
}

.container_top .right_container_top .submenu_top .item_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    .item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.7vw;
        height: 2.5vw;
        border-radius: 50%; 
        transition: 0.1s;
        button{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            background-color: var(--cor-rose);;
            color: var(--cor-light);
            font-size:1.2vw;
            transition: 80ms;
            
            opacity: 65%;
        }
    } 
}

.container_top .right_container_top .submenu_top .item_container .item:hover{
    width: 2.9vi;
    height: 2.6vi;
    button{
        font-size:1.4vi;
        opacity: 100%;
    }
}

.container_top .right_container_top .submenu_top .item_container .item:active{
    width: 2.7vi;
    height: 2.4vi;
    button:active{
        font-size:1.3vi;
    }
}


.container_top .right_container_top .submenu_top .item_login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2vi;
    height: 2.0vi;
    .item_hover{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.2vi;
        height: 2.0vi;
        opacity: 100%;
        background-color: transparent;
        border-radius: 25px ;
        transition: 0.5s;

        span{
            position: absolute;
            opacity: 0%;
            transform: translateX(-4vw) ;
            user-select: none;
            cursor: pointer;
            transition: 0.18s;
            font-size:0.7vi;
            font-family: 'Arial';
        }

        .item_login{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.2vi;
            height: 2.0vi;
            border-radius: 50%; 
            transition: all 0.1s;

            button{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                font-size:1vi;
                transition: 0.2s;
                background-color: var(--cor-rose);;
                color: #ffff;
                opacity: 65%;
            }
        }
    }
}

.container_top .right_container_top .submenu_top .item_login_container .item_hover:hover{
    padding-left: 5.5vw; 
    margin-left: -5.5vw; 
   
    height: 2.0vi;
    opacity: 100%;
    background-color:rgb(237, 237, 237);
    span{
        opacity: 100%;
    }

    .item_login{
        button{
            opacity: 100%;
        }
    }
}


.container_top .right_container_top .submenu_top .item_login_container .item_hover .item_login button:active{
    font-size:1vi;
}